<form action="/register" method="post">
<fieldset>
    <legend>Register for ROIHeat</legend>
    <div class="clearfix">
        <label>Username</label>
        <div class="input">
            <input type="text" name="username" />
        </div>
    </div>
    <div class="clearfix">
        <label>Email</label>
        <div class="input">
            <input type="text" name="email" />
        </div>
    </div>
    <div class="clearfix">
        <label>Password</label>
        <div class="input">
            <input type="text" name="password" />
        </div>
    </div>
    <div class="clearfix">
        <label>Confirm Password</label>
        <div class="input">
            <input type="text" name="c_password" />
        </div>
    </div>
    <div class="clearfix">
        <div class="input">
            <input type="submit" name="submit" />
        </div>
    </div>
</fieldset>
</form>
